*{
    margin: 0;
    padding: 0;
}

header{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    width: 80vw;
    margin-top: 2rem;
    background-color: lightblue;
    border-radius: 2.5rem;
    font-size: 5rem;
    font-family:'Poppins', sans-serif;
    font-weight: bold; 
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;


}

.sc{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
    margin:2.5rem 0px;
}